*/*General*/
*{margin: 0; padding: 1px ; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 15px; font-family: "Helvetica Neue", sans-serif; }

a{text-decoration: none; font-weight: bold ;}

  
.nav{background: #281374ff;}
    .nav a{padding: 10px 0; text-align: center; color:  #fff;} 
    .nav a:hover{background: #4526d1 ;}

.address{text-align: center; line-height: 35px;}
    .address img{vertical-align: middle;}
    .address strong{ color: #28166f; font-size: 15px;}
    
.image-gallery, .information {float: left;}
    .information li{list-style: none; line-height: 40px; padding-left: 40px; background: url("/src/cone-de-verifica-24x24.png") no-repeat left center; }    
    .informationText p{line-height: 2; margin: 2%; text-indent: 15px;}

.mapsImovel{width: 100%; margin: 35px 0;}
    .mapsImovel iframe{width: 100%; height: 400px; border: none; }

.footer{display: flex; width: 100%; background:  #281374ff; padding: 15px 5%; font-weight: bold; line-height: 35px; }
    .footer div:nth-child(1){flex-grow: 2; text-align: center;}
    .footer div:nth-child(2){flex-grow: 4; color: #fff;}   

/*Small Smarphones*/
@media screen and (max-width: 479px){
    .header{display: flex; flex-direction: column;background: #efefef; margin-bottom: 15px; }

    .nav{order: 2; display: none; flex-direction: column;}
        .nav a{width: 100%;}

    .buttonMob{order: 1;text-align: right;padding: 10px 5% 10px 0;}

    .logo{position: absolute; top: 5px; left: 2%;}

    .address{order:3; padding: 10px 5%; background-color: #281374ff /*#4526d1*/;}
        .address strong{color: #fff/*#28166f*/;}

    .image-gallery{width: 90%; margin: 0 5%;}

    .information{ width: 90%; margin: 0 5%;} 

}
/*Medium Smartphones*/
@media screen and (min-width: 480px) and (max-width: 719px) {
    /* .nav{display: none; flex-direction: column; }
        .nav a{width: 100%; } */
    .header{display: flex; flex-direction: column;background: #efefef;margin-bottom: 15px;}

    .nav{display: none; flex-direction: column; order: 2;}
        .nav a{width: 100%;}

    .buttonMob{order: 1;text-align: right;padding: 2px 5% 8px 0;margin-top: 5px;}   

     .logo{position: absolute;padding: 5px 0 0 10px 0; left: 2%;} /*top: 5px;  */

    .address{order:3; padding: 10px 5%; background-color: #281374ff /* #4526d1;*/}
        .address strong{color: #fff /*#28166f;*/}

        .image-gallery{ width: 80%; margin: 0 10%;} 

    .information{width: 80%; margin: 20px 10%;}

 
}
/*Large Smartphones and Small Notebooks*/
@media screen and (min-width: 720px) and (max-width: 1024px) {
    .header{float: left;width: 100%;background: #efefef; box-shadow: 0 2px 10px #999; margin-bottom: 18px;}

    .nav{display: flex; }
        .nav a{width: 25%; }

    .buttonMob{display: none;}   

    .logo{float: left; width: 30%; padding: 10px 0 15px 2%;}

    .address{float: left; width: 70%; padding: 20px 5% 10px 20%; }

        .image-gallery{width: 36%; margin: 0 7%;}      
        
    .information{ width: 45%;}

}

/*XLarges screens*/
@media screen and (min-width: 1025px){
    .header{float: left;width: 100%;background: #efefef; box-shadow: 0 2px 10px #999; margin-bottom: 8px;}

    .nav{display: flex; }
        .nav a{width: 25%; }
        
    .buttonMob{display: none;}

    .logo{float: left; width: 30%; padding: 10px 0 10px 1%;}

    .address{float: left; width: 70%; padding: 15px 5% 5px 20%; }

    .image-gallery{ width: 40%; margin: 0 7%;}

    .information{ width: 45%;}
        
    .mapsImovel iframe{height: 400px; }
}